<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		{% block title %}CookieSquared
		{% endblock %}
	</title>

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset("build/app.css") }}">
		<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css' integrity='sha512-vZWT27aGmde93huNyIV/K7YsydxaafHLynlJa/4aPy28/R1a/IxewUH4MWo7As5I33hpQ7JS24kwqy/ciIFgvg==' crossorigin='anonymous'/>
	{% endblock %}
</head>

{% block body %}
	<body>

		{# banniere #}
		<aside id="aside">
			<div id="cookiebanner">
				<i class="fas fa-times" id="cross"></i>
				
				<div class="gen">
					<h3>{% trans %}Essentials{% endtrans %}</h3>
					<label class="switch">
						<input type="checkbox">
						<span class="slider round"></span>
					</label>
				</div>
				<br>
				<p>{% trans %}essentialelements{% endtrans %}</p><br>

				<div class="gen">
					<h3>{% trans %}Marketing{% endtrans %}</h3>
					<label class="switch">
						<input type="checkbox">
						<span class="slider round"></span>
					</label>
				</div>
				<br>
				<p>{% trans %}marketingelements{% endtrans %}</p><br>

				<div class="gen">
					<h3>{% trans %}Personnalisation{% endtrans %}</h3>
					<label class="switch">
						<input type="checkbox">
						<span class="slider round"></span>
					</label>
				</div>
				<br>
				<p>{% trans %}personnalisationelements{% endtrans %}</p><br>

				<div class="gen">
					<h3>{% trans %}Analysis{% endtrans %}</h3>
					<label class="switch">
						<input type="checkbox">
						<span class="slider round"></span>
					</label>
				</div>
				<br>
				<p>{% trans %}analysiselements{% endtrans %}</p><br>
				
				<div id="divvalidate">
					<button id="btnvalidcookies" class="buttons">{% trans %}Valider{% endtrans %}</button>
				</div>
			</div>
		</aside>

		{# banniere2 #}

		<div id="cookiebanner2">
			<br>
			<h3>{% trans %}siteusescookies{% endtrans %}</h3>
			<p>{% trans %}weusecookies{% endtrans %}
			</p>
			<div id="btns">
				<button id="btnrefuse" class="buttons">{% trans %}refuse{% endtrans %}</button>
				<button id="btnpref" class="buttons">{% trans %}preferences{% endtrans %}</button>
				<button id="btnaccept" class="buttons">{% trans %}accept{% endtrans %}</button>
			</div>
		</div>

		{# background opacity #}
		<div id="all"></div>

		{% include "home_page/partials/nav.html.twig" %}
		<main
			id='main'>
			{# logo  #}
			<a href="#">
				<div id="cookie"></div>
			</a>
			{# section accueil #}
			<div class="accueil_container">
				<div class="accueil_title">
				<h1>{% trans %}simplesolutiontitle{% endtrans %}</h1>
				</div>

				<div class="accueil_description">
					<p>{% trans %}simplesolution{% endtrans %}</p>
				</div>

				<div class="accueil_start_button">
					<a href=" {{ path('register') }} ">{% trans %}begin{% endtrans %}</a>
				</div>

				<div class="accueil_img">
					<img src="{{ asset('build/images/accueil.png') }}" alt="Image accueil principal">
				</div>
			</div>

			{# section fonctionnalite #}

			<div class="fonctsectionmain" id="sectionfonctmain">

				<h1>{% trans %}Fonctionnalités{% endtrans %}</h1>

				<div class="fonctsection" id="sectionfonct">

					<div class="fonct" id="fonct1">
						<h2>{% trans %}choosemodel{% endtrans %}</h2><br>
						<p>{% trans %}choosedescription{% endtrans %}</p>
					</div>
					<div class="fonct" id="fonct2">
						<h2>{% trans %}scanwebsite{% endtrans %}</h2><br>
						<p>{% trans %}scandescription{% endtrans %}</p>
					</div>
					<div class="fonct" id="fonct3">
						<h2>{% trans %}addcookies{% endtrans %}</h2><br>
						<p>{% trans %}addcookiesdescription{% endtrans %}</p>
					</div>

				</div>

			</div>

			{# section prices #}
			<div class="pricecontainer" id="sectionprice">
				<h1>{% trans %}prices{% endtrans %}</h1>
				<div class="splide">
					<div class="splide__track">
						<ul class="splide__list">
							<li class="splide__slide">
								<div class="price">

									<div class="price_list_mobile">
										<div class="price_top">
											<h2 class="price_title">{% trans %}Free{% endtrans %}</h2>
											<div class="price_shadow_1"></div>
										</div>

										<div class="price_body">
											<div class="price_circle">
												<h3 class="price_circle_text">{% trans %}Free{% endtrans %}</h3>
											</div>
											<div class="price_features">
												<h3>
													<i class="fas fa-check"></i>{% trans %}Feature 1{% endtrans %}</h3>
												<h3>
													<i class="fas fa-check"></i>{% trans %}Feature 2{% endtrans %}</h3>
												<h3>
													<i class="fas fa-ban"></i>{% trans %}Feature 3{% endtrans %}</h3>
												<h3>
													<i class="fas fa-ban"></i>{% trans %}Feature 4{% endtrans %}</h3>
												<h3>
													<i class="fas fa-ban"></i>{% trans %}Feature 5{% endtrans %}</h3>
												<h3>
													<i class="fas fa-ban"></i>{% trans %}Feature 6{% endtrans %}</h3>

											</div>
										</div>

										<div class="price_footer">
											<h2 class="price_footer_text">{% trans %}tryfree{% endtrans %}</h2>
										</div>

									</div>
								</div>
							</li>
							<li class="splide__slide">
								<div class="price">

									<div class="price_list_mobile">
										<div class="price_top">
											<h2 class="price_title">{% trans %}Developer{% endtrans %}</h2>
											<div class="price_shadow_2"></div>
											<div class="price_shadow_3"></div>
										</div>

										<div class="price_body">
											<div class="price_circle">
												<h3 class="price_circle_text">9$</h3>
											</div>
											<div class="price_features">
												<h3>
													<i class="fas fa-check"></i>{% trans %}Feature 1{% endtrans %}</h3>
												<h3>
													<i class="fas fa-check"></i>{% trans %}Feature 2{% endtrans %}</h3>
												<h3>
													<i class="fas fa-ban"></i>{% trans %}Feature 3{% endtrans %}</h3>
												<h3>
													<i class="fas fa-ban"></i>{% trans %}Feature 4{% endtrans %}</h3>
												<h3>
													<i class="fas fa-ban"></i>{% trans %}Feature 5{% endtrans %}</h3>
												<h3>
													<i class="fas fa-ban"></i>{% trans %}Feature 6{% endtrans %}</h3>

											</div>
										</div>

										<div class="price_footer">
											<h2 class="price_footer_text">{% trans %}Select{% endtrans %}</h2>
										</div>

									</div>
								</div>
							</li>
							<li class="splide__slide">
								<div class="price">

									<div class="price_list_mobile">
										<div class="price_top">
											<h2 class="price_title">{% trans %}Business{% endtrans %}</h2>
											<div class="price_shadow_4"></div>
											<div class="price_shadow_5"></div>
										</div>

										<div class="price_body">
											<div class="price_circle">
												<h3 class="price_circle_text">19$</h3>
											</div>
											<div class="price_features">
												<h3>
													<i class="fas fa-check"></i>{% trans %}Feature 1{% endtrans %}</h3>
												<h3>
													<i class="fas fa-check"></i>{% trans %}Feature 2{% endtrans %}</h3>
												<h3>
													<i class="fas fa-ban"></i>{% trans %}Feature 3{% endtrans %}</h3>
												<h3>
													<i class="fas fa-ban"></i>{% trans %}Feature 4{% endtrans %}</h3>
												<h3>
													<i class="fas fa-ban"></i>{% trans %}Feature 5{% endtrans %}</h3>
												<h3>
													<i class="fas fa-ban"></i>{% trans %}Feature 6{% endtrans %}</h3>

											</div>
										</div>

										<div class="price_footer">
											<h2 class="price_footer_text">{% trans %}Select{% endtrans %}</h2>
										</div>

									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>


				<div class="price">

					<div class="price_list">
						<div class="price_top">
							<h2 class="price_title">{% trans %}Free{% endtrans %}</h2>
							<div class="price_shadow_1"></div>
						</div>

						<div class="price_body">
							<div class="price_circle">
								<h3 class="price_circle_text">{% trans %}Free{% endtrans %}</h3>
							</div>
							<div class="price_features">
								<h3>
									<i class="fas fa-check"></i>{% trans %}Feature 1{% endtrans %}</h3>
								<h3>
									<i class="fas fa-check"></i>{% trans %}Feature 2{% endtrans %}</h3>
								<h3>
									<i class="fas fa-ban"></i>{% trans %}Feature 3{% endtrans %}</h3>
								<h3>
									<i class="fas fa-ban"></i>{% trans %}Feature 4{% endtrans %}</h3>
								<h3>
									<i class="fas fa-ban"></i>{% trans %}Feature 5{% endtrans %}</h3>
								<h3>
									<i class="fas fa-ban"></i>{% trans %}Feature 6{% endtrans %}</h3>

							</div>
						</div>

						<div class="price_footer">
							<h2 class="price_footer_text">{% trans %}tryfree{% endtrans %}</h2>
						</div>
					</div>

					<div class="price_list">
						<div class="price_top">
							<h2 class="price_title">{% trans %}Developer{% endtrans %}</h2>
							<div class="price_shadow_2"></div>
							<div class="price_shadow_3"></div>
						</div>

						<div class="price_body">
							<div class="price_circle">
								<h3 class="price_circle_text">9$</h3>
							</div>
							<div class="price_features">
								<h3>
									<i class="fas fa-check"></i>{% trans %}Feature 1{% endtrans %}</h3>
								<h3>
									<i class="fas fa-check"></i>{% trans %}Feature 2{% endtrans %}</h3>
								<h3>
									<i class="fas fa-check"></i>{% trans %}Feature 3{% endtrans %}</h3>
								<h3>
									<i class="fas fa-check"></i>{% trans %}Feature 4{% endtrans %}</h3>
								<h3>
									<i class="fas fa-ban"></i>{% trans %}Feature 5{% endtrans %}</h3>
								<h3>
									<i class="fas fa-ban"></i>{% trans %}Feature 6{% endtrans %}</h3>

							</div>
						</div>

						<div class="price_footer">
							<h2 class="price_footer_text">{% trans %}Select{% endtrans %}</h2>
						</div>
					</div>

					<div class="price_list">
						<div class="price_top">
							<h2 class="price_title">{% trans %}Business{% endtrans %}</h2>
							<div class="price_shadow_4"></div>
							<div class="price_shadow_5"></div>
						</div>

						<div class="price_body">
							<div class="price_circle">
								<h3 class="price_circle_text">19$</h3>
							</div>
							<div class="price_features">
								<h3>
									<i class="fas fa-check"></i>{% trans %}Feature 1{% endtrans %}</h3>
								<h3>
									<i class="fas fa-check"></i>{% trans %}Feature 2{% endtrans %}</h3>
								<h3>
									<i class="fas fa-check"></i>{% trans %}Feature 3{% endtrans %}</h3>
								<h3>
									<i class="fas fa-check"></i>{% trans %}Feature 4{% endtrans %}</h3>
								<h3>
									<i class="fas fa-check"></i>{% trans %}Feature 5{% endtrans %}</h3>
								<h3>
									<i class="fas fa-check"></i>{% trans %}Feature 6{% endtrans %}</h3>

							</div>
						</div>

						<div class="price_footer">
							<h2 class="price_footer_text">{% trans %}Select{% endtrans %}</h2>
						</div>
					</div>

				</div>
			</div>

			{# section WP #}
			<div id="sectionwp">

				<h1>{% trans %}wpextension{% endtrans %}</h1><br>

				<img src="{{ asset("build/images/wpresponsive.png") }}" alt="WP Responsive" class="wpresponsive_img">

				<p>{% trans %}wordpressdescription{% endtrans %}</p><br><br>
				<a href='https://drive.google.com/file/d/14NrcFEz7UOwJ_99TZBRmUMrHLk9knwsG/view?usp=sharing' target='_blank'>
					<button><h2>{% trans %}dlplugin{% endtrans %}</h2></button>
				</a>
			</div>

			{# section RGPD #}
			<div id="sectionrgpd">
				<br><br><br>
				<div class="flexrgpd">
					<h2 id="rgpd">RGPD et ePrivacy</h2>
				</div>
				<div id="parargpd">
					<p><br>{% trans %}rgpddescription{% endtrans %}</p><br>

					<button id="btnrgpd">
						<a href="https://www.alsaeci.com/rgpd-et-eprivacy-ce-que-vous-devez-savoir/#:~:text=Le%20RGPD%20et%20l%E2%80%99ePrivacy%20sont%20deux%20r%C3%A9glementations%20diff%C3%A9rentes,pour%20%C3%A9viter%20tout%20probl%C3%A8me%20avec%20les%20institutions%20comp%C3%A9tentes." target="_blank">{% trans %}morergpd{% endtrans %}</a>
					</button>
				</div>
			</div>


			{# section Qui Sommes Nous #}
			<div id="sectionqsn">
				<h1 id="qsn">{% trans %}whoarewe{% endtrans %}</h1><br>
				<div id="mainqsn">
					<a href="https://codecolliders.com/"><img src="{{ asset('build/images/logo2.png') }}" alt="logo" onclick="https://codecolliders.com/"></a>
					<p><br>{% trans %}codecollidersdescription{% endtrans %}</p>

				</div>
			</div>
		</main>

		{% include "home_page/partials/footer.html.twig" %}

		{% block javascripts %}
			{{ encore_entry_script_tags('init') }}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
{% endblock %}
