<div class="mobile-menu d-md-none">
            <div class="mobile-menu-bar">
                <a href="" class="d-flex me-auto">
                    			<span class="d-xl-block text-white fs-lg ms-3">
				Cookie<span class="fw-medium">Squared</span>
			</span>
                </a>
                <a href="javascript:;" id="mobile-menu-toggler" class="mobile-menu-bar__toggler"> <i data-feather="bar-chart-2" class="w-8 h-8 text-white"></i> </a>
            </div>
	<ul class="mobile-menu-wrapper border-top border-theme-29 dark-border-dark-3 py-5">
		<li>
			<a href="{{ path("cookie", {id: site.id}) }}" class="menu">
				<div class="side-menu__icon">
					<i data-feather="calendar"></i>
				</div>
				<div class="side-menu__title">
					Gestion des cookies
				</div>
			</a>
		</li>
		<li>
			<a href="{{ path('custom', {id: site.id}) }}" class="menu">
				<div class="side-menu__icon">
					<i data-feather="box"></i>
				</div>
				<div class="side-menu__title">
					Personnalisation
				</div>
			</a>
		</li>
		<li>
			<a href="{{ path('scan', {id: site.id}) }}" class="menu">
				<div class="side-menu__icon">
					<i data-feather="inbox"></i>
				</div>
				<div class="side-menu__title">
					Effectuer un scan
				</div>
			</a>
		</li>
		<li>
			<a href="#" class="menu">
				<div class="side-menu__icon">
					<i data-feather="hard-drive"></i>
				</div>
				<div class="side-menu__title">
					Génerer le code embed
				</div>
			</a>
		</li>

		<li class="side-nav__devider my-6"></li>

		<li>
			<a href="{{ path("my_sites") }}" class="menu">
				<div class="side-menu__icon">
					<i data-feather="edit"></i>
				</div>
				<div class="side-menu__title">
					Voir mes sites
				</div>
			</a>
		</li>
		<li>
			<a href="{{ path("home_page") }}" class="menu">
				<div class="side-menu__icon">
					<i data-feather="home"></i>
				</div>
				<div class="side-menu__title">Retourner à l'accueil</div>
			</a>
		</li>

	</ul>
</div>
<!-- END: Mobile Menu -->


<div
	class="d-flex">
	<!-- BEGIN: Side Menu -->
	<nav class="side-nav">
		<a href="" class="intro-x d-flex align-items-center ps-5 pt-4">
			<span class="d-none d-xl-block text-white fs-lg ms-3">
				Cookie<span class="fw-medium">Squared</span>
			</span>
		</a>
		<div class="side-nav__devider my-6"></div>
		<ul>
			<li>
				<a href="{{ path("cookie", {id: site.id}) }}" {% if app.request.get('_route') == 'cookie' %}class="side-menu side-menu--active"{% endif %} class="side-menu">
					<div class="side-menu__icon">
						<i data-feather="calendar" class=""></i>
					</div>
					<div class="side-menu__title">
						Gestion des cookies
					</div>
				</a>
			</li>
			<li>
				<a href="{{ path("custom", {id: site.id}) }}" {% if app.request.get('_route') == 'custom' %}class="side-menu side-menu--active"{% endif %} class="side-menu">
					<div class="side-menu__icon">
						<i data-feather="box"></i>
					</div>
					<div class="side-menu__title">
						{% trans %}customization{% endtrans %}
					</div>
				</a>
			</li>
			<li>
				<a href="{{ path("scan", {id: site.id}) }}" {% if app.request.get('_route') == 'scan' %}class="side-menu side-menu--active"{% endif %} class="side-menu">
					<div class="side-menu__icon">
						<i data-feather="inbox"></i>
					</div>
					<div class="side-menu__title">
						{% trans %}scanwebsite{% endtrans %}
					</div>
				</a>
			</li>
			<li>
				<a href="{{ path("embed", {id: site.id}) }}" {% if app.request.get('_route') == 'embed' %}class="side-menu side-menu--active"{% endif %} class="side-menu">
					<div class="side-menu__icon">
						<i data-feather="hard-drive"></i>
					</div>
					<div class="side-menu__title">
						{% trans %}embed{% endtrans %}
					</div>
				</a>
			</li>

			<li class="side-nav__devider my-6"></li>

			<li>
				<a href="{{ path("my_sites") }}" {% if app.request.get('_route') == 'my_sites' %}class="side-menu side-menu--active"{% endif %} class="side-menu">
					<div class="side-menu__icon">
						<i data-feather="edit"></i>
					</div>
					<div class="side-menu__title">
						{% trans %}mysites{% endtrans %}
					</div>
				</a>
			</li>
			<li>
				<a href="{{ path("home_page") }}" class="side-menu">
					<div class="side-menu__icon">
						<i data-feather="home"></i>
					</div>
					<div class="side-menu__title">{% trans %}home{% endtrans %}</div>
				</a>
			</li>

		</ul>
	</nav>
	<!-- END: Side Menu -->
