{% extends 'base.html.twig' %}

{% block title %}{% trans %}userpage{% endtrans %}
{% endblock %}

{% block body %}

	{% include "home_page/partials/nav.html.twig" %}

	<div class="user_container">
		<h2>{% trans %}profileof{% endtrans %} 
			{{ app.user.firstname }}
			{{ app.user.lastname }}</h2><br>
		<h3>{% trans %}userinformations{% endtrans %}</h3><br>

		<p>{% trans %}mailadress{% endtrans %} :
			{{ app.user.email }}</p>
		<p>{% trans %}lastname{% endtrans %} :
			{{ app.user.lastname }}</p>
		<p>{% trans %}firstname{% endtrans %} :
			{{ app.user.firstname }}</p>
		<a href="{{ path('change_password') }}">{% trans %}modifpassword{% endtrans %}</a>

		<div class="accueil_start_button">
			<a href="{{ path('my_sites') }}">{% trans %}showmysites{% endtrans %}</a><br><br><br>
			<a href="{{ path('app_logout') }}">{% trans %}logout{% endtrans %}</a>
		</div>
	</div>

	{% include "home_page/partials/footer.html.twig" %}

{% endblock %}
